<!-- Navbar -->

<nav
  class="navbar navbar-expand-lg navbar-light bg-secondary shadow-lg"
  data-aos="fade-down"
  data-aos-duration="1000"
>
  <div class="container">
    <a class="navbar-brand" href="/" style="font-family: Algerian">Hijacker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-family: Algerian"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-family: Algerian">TOUR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galerry" style="font-family: Algerian">GALERRY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="font-family: Algerian">CONTACT</a>
        </li>
        <li class="nav-item dropdown">
          <a
            style="font-family: Algerian"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ABOUT
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
            style="background-color: lightslategray"
          >
            <li>
              <a class="dropdown-item" href="#" style="font-family: Algerian">Hijacker</a>
            </li>
            <li>
              <a class="dropdown-item" href="/about_personil" style="font-family: Algerian"
                >PERSONIL</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/about_label" style="font-family: Algerian">label</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Akhir Navbar -->
