<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- logo web -->
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- MY CSS -->
    <link rel="stylesheet" href="../static/style.css" />

    <title>Hijacker</title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <!-- Jumbotron -->
    <section class="jumbotron text-center" data-aos="fade-up" data-aos-duration="1800">
      <img
        src="../static/hijacker new.png"
        alt="Hijacker"
        width="320px"
        data-aos="zoom-in-left"
        data-aos-duration="2000"
      />
      <h1 class="display-1" style="font-family: Algerian"></h1>
      <p class="lead"></p>
      <div class="icon">
        <a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a>
        <span>hijacker12</span>
        <a href="https://wa.link/v6g0dl" target="blank"><i class="fab fa-whatsapp"></i></a>
        <span>contact person 1</span>
        <a href="https://wa.link/yvgmg7" target="blank"><i class="fab fa-whatsapp"></i></a>
        <span>contact person 2</span>
      </div>
    </section>
    <!-- Akhir Jumbotron -->
    <!-- Icon -->

    <!-- Akhir Icon -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
